<div class="col-md-3 py-md-5 aside-stretch-right p-5" style="background-color: rgb(143, 197, 197);">
    <h2 class="footer-heading footer-heading-white mb-4" style="text-shadow: 2px 1px rgb(150, 142, 142);">Message</h2>
    <form method="post" class="contact-form">
        <div class="form-group mb-3">
            <input type="text" class="form-control" placeholder="Your Name" name="name">
        </div>
        <div class="form-group mb-3">
            <input type="text" class="form-control" placeholder="Your Email" name="email">
        </div>
        <div class="form-group mb-3">
            <input type="text" class="form-control" placeholder="Subject" name="subject">
        </div>
        <div class="form-group mb-3">
            <textarea  id="" cols="30" rows="3" class="form-control" name="message"
                placeholder="Message"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="form-control submit px-3">Send</button>
        </div>
    </form>


</div>