<nav style="background-color: #e0dddd;" class="navbar navbar-expand-sm fixed-top">
    <img src="/images/logo.png"   alt="image-logo" style="width: 40px; height: 40px; margin-left: 10px;">
    <a class="navbar-brand ms-2 fs-3 fa-sharp fw-bolder fst-italic text-primary" 
      style="text-shadow: 2px 1px rgb(150, 142, 142);" href="/">mB.dev
    </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav" style="padding-left:400px;text-shadow: 2px 1px rgb(150, 142, 142);">
        <li class="nav-item active d-flex me-5 me-md-3 me-sm-2 p-1">
          <a class="nav-link fs-4" href="/">Home</a>
        </li>
        <li class="nav-item d-flex  me-5 me-md-3 me-sm-2  p-1">
          <a class="nav-link fs-4" href="/about">About</a>
        </li>
      
        <li class="nav-item d-flex  me-5 me-md-3 me-sm-2  p-1">
          <a class="nav-link fs-4" href="/project">Project</a>
        </li>
        <li class="nav-item d-flex  me-5 me-md-3 me-sm-2  p-1">
        <a class="nav-link fs-4" href="/resume">Resume</a>
        </li>
        <li class="nav-item d-flex me-5 me-md-3 me-sm-2  p-1">
          <a class="nav-link fs-4" href="/comment">Comment</a>
        </li>
        
      </ul>
      
    
    </div>
  </nav>