<nav class="d-flex   bg-light fixed-top container-fluid p-3 ", style="height: auto;">
    <img src="/images/logo.png"   alt="image-logo" style="width: 50px; height: 50px; margin-left: 10px; margin-top: 5px;">
    <a class= "ms-2 fs-3 fa-sharp fw-bolder fst-italic text-primary text-decoration-none mt-3" 
      style="text-shadow: 2px 1px rgb(150, 142, 142);" href="/">
      <b>mB.dev</b>
    </a>
  
    <div class=" navlist d-none d-sm-block" style="padding-left: 400px" id="navbarSupportedContent">
      <ul class=" d-flex flex-lg-row pt-2" style=" text-shadow: 2px 1px rgb(150, 142, 142);">
        <li class="  d-flex me-5 p-1">
          <a class=" fs-4  text-decoration-none " href="/">Home</a>
        </li>
        <li class=" d-flex  me-5  p-1">
          <a class=" fs-4 text-decoration-none" href="/about">About</a>
        </li>
      
        <li class=" d-flex  me-5  p-1">
          <a class=" fs-4 text-decoration-none" href="/project">Project</a>
        </li>
        <li class=" d-flex  me-5  p-1">
        <a class=" fs-4 text-decoration-none" href="/resume">Resume</a>
        </li>
        <li class=" d-flex me-5  p-1">
          <a class=" fs-4 text-decoration-none" href="/comment">Comment</a>
        </li>
        
      </ul>
      
    
    </div>
  </nav>