<%-include('./partials/header.ejs')%>

    <%-include('./partials/navbar.ejs')%>

        <div class="d-flex align-items-sm-center mb-5" style="margin-left: 60px; margin-top: 30px;">

            <div class="about-info mt-5 pe-sm-2 me-sm-2 ">
                <h1 style="text-shadow: 2px 2px rgb(150, 142, 142);" class=" mb-5">About <span
                        class="text-primary fst-italic">Me</span>
                </h1>
                <div class=" d-flex  justify-content-evenly align-items-center">
                    <div style="width: 750px;" class="me-5">
                        <p>Hi Everyone, I am <span class="text-primary fst-italic"> Mohd Bilal </span> from
                            <span class="text-primary fst-italic">Muzaffarnagar, UP.</span>
                            Software engineer with expertise in cross-platform development
                            using Fullstack MERN.
                        </p>

                        <p>
                            I have a Bachelor's degree in Computer Science.
                        </p>
                        <div class="p-0">
                            <p>Apart from coding, some other activities that I love to do!</p>
                            <li>playing Games</li>
                            <li>Travelling</li>
                        </div>
                    </div>
                    <div class="about-img">
                        <img class="" src="images/myp.png" alt="home-pge-image" style="width: 300px; height: 300px;">
                    </div>
                </div>

            </div>

        </div>

        <div class="mt-5 mb-5">
            <h1 class="ps-5 mb-2" style="text-shadow: 2px 2px rgb(150, 142, 142);">Professional
                <span class="text-primary fst-italic">Skills</span>
            </h1>
            <div class="m-5 p-5 mt-0 pt-0 d-flex flex-wrap justify-content-center  ">
                <div>
                    <img class="img-fluid" src="svg images/html.svg" alt="html-img">
                    <p class="fw-bold fs-4 ms-5 mt-2" style="text-shadow: 2px 2px rgb(150, 142, 142);">HTML</p>
                </div>
                <div>
                    <img class="img-fluid" src="svg images/css.svg" alt="css-img">
                    <p class="fw-bold fs-4 ms-5 mt-2" style="text-shadow: 2px 2px rgb(150, 142, 142);">CSS</p>
                </div>
                <div>
                    <img class="img-fluid" src="svg images/javascript.svg" alt="js-img">
                    <p class="fw-bold fs-4 ms-5 mt-2" style="text-shadow: 2px 2px rgb(150, 142, 142);">JavaScript</p>
                </div>
                <div>
                    <img class="img-fluid" src="svg images/bootstrap.svg" alt="bootstrap-img">
                    <p class="fw-bold fs-4 ms-5 mt-2" style="text-shadow: 2px 2px rgb(150, 142, 142);">Bootstrap</p>
                </div>
                <div>
                    <img class="img-fluid" src="svg images/react.svg" alt="react-img">
                    <p class="fw-bold fs-4 ms-5 mt-2" style="text-shadow: 2px 2px rgb(150, 142, 142);">React Js</p>
                </div>
                <div>
                    <img class="img-fluid" src="svg images/nodejs.svg" alt="nodejs-img">
                    <p class="fw-bold fs-4 ms-5 mt-2" style="text-shadow: 2px 2px rgb(150, 142, 142);">Node Js</p>
                </div>
                <div>
                    <img class="img-fluid" src="svg images/express.svg" alt="expressjs-img">
                    <p class="fw-bold fs-4 ms-5 mt-2" style="text-shadow: 2px 2px rgb(150, 142, 142);">Express Js</p>
                </div>
                <div>
                    <img class="img-fluid" src="svg images/mongodb.svg" alt="mongodb">
                    <p class="fw-bold fs-4 ms-5 mt-2" style="text-shadow: 2px 2px rgb(150, 142, 142);">MongoDB</p>
                </div>
            </div>

        </div>