<%-include('./partials/header.ejs')%>

<%-include('./partials/navbar.ejs')%>

<div class="d-flex align-items-sm-center mb-5" style="margin-left: 60px; margin-top: 110px;">
    
    <div class="pe-5 me-5 ms-5 ps-5 mt-5">
        <h1 style="text-shadow: 2px 2px rgb(150, 142, 142);" class=" mb-5">About <span class="text-primary fst-italic">Me</span></h1>
        <p>Hi Everyone, I am <span class="text-primary fst-italic"> Mohd Bilal </span> from 
            <span class="text-primary fst-italic">Muzaffarnagar, UP.</span>
            Software engineer with expertise in cross-platform development
            using Fullstack MERN.
        </p>
        
        <p>
            I have a Bachelor's degree in Computer Science.
        </p>
        <div class="p-0">
            <p>Apart from coding, some other activities that I love to do!</p>
            <li>playing Games</li>
            <li>Travelling</li>
        </div>
    
        
    </div>
    <div class="pe-5" style="margin-right: 150px;">
        <img class="" src="images/myp.png" alt="home-pge-image" style="width: 200px; height: 200px;">    
    </div>
</div>

<div class="mt-5 mb-5">
    <h1 class="ps-5 mb-2" style="margin-left:270px; text-shadow: 2px 2px rgb(150, 142, 142);">Professional 
        <span class="text-primary fst-italic">Skills</span></h1>
    <div class="m-5 p-5 mt-0 pt-0">
        <img class="img-fluid" src="svg images/html.svg" alt="html-img">
        <img class="img-fluid"  src="svg images/css.svg" alt="css-img">
        <img class="img-fluid"  src="svg images/Javascript.svg" alt="js-img">
        <img class="img-fluid"  src="svg images/bootstrap.svg" alt="bootstrap-img">
        <img class="img-fluid"  src="svg images/react.svg" alt="react-img">
        <img class="img-fluid"  src="svg images/nodejs.svg" alt="nodejs-img">
        <img class="img-fluid"  src="svg images/express.svg" alt="expressjs-img">
        <img class="img-fluid"  src="svg images/mongodb.svg" alt="mongodb">
    </div>
    
</div>




