<%-include('./partials/header.ejs')%>

<%-include('./partials/navbar.ejs')%>

    <div style="margin-top: 120px;" class="text-center pt-5 ">
      <h1 style="text-shadow: 2px 2px rgb(150, 142, 142);">My Recent 
        <span class="text-primary fst-italic">Works</span>
      </h1>
      <p>Here are a few projects I've worked on recently.</p>
    </div>

    <div class="project-div row mt-0 pt-0 ms-sm-5 ms-md-5 mb-5 " style=" margin-left: 110px;">

      <div class="project_card card me-4 col-sm-4 col-md-4 col-lg-3" style=" margin-top: 60px;">
        <a href="https://exim-business.netlify.app/">
          <img class="card-img-top p-4 pt-5" src="project_images/eximge.png" alt="project-img">
        </a>
        <div class="card-body">

          <h5 class="card-title"> EXIM businesses around the world ( Dummy )</h5>
          <p class="card-text"> web application built using React.js and Material UI</p>
          <a class="text-decoration-none fs-6" href="https://exim-business.netlify.app/">
            https://exim-business.netlify.app/</a>
        </div>
      </div>


      <div class="project_card card me-4 col-sm-4 col-md-4 col-lg-3" style=" margin-top: 60px;">
        <a href="https://myportfolio.cyclic.app/">
          <img class="card-img-top p-4 pt-5" src="project_images/portfolioImage.png" alt="portfolio-img">
        </a>
        <div class="card-body">
          <h5 class="card-title">My Portfolio website</h5>
          <p class="card-text"> Portfolio web application built using Express.js, EJS, and MongoDB</p>
          <a class="text-decoration-none fs-6" href="https://myportfolio.cyclic.app/">
            https://myportfolio.cyclic.app/</a>

        </div>

      </div>

      
      <div class="project_card card me-4 col-sm-4 col-md-4 col-lg-3" style=" margin-top: 60px;">
        <a href="https://foodyfoody.netlify.app/">
          <img class="card-img-top p-4 pt-5" src="project_images/foodreastaurent.png" alt="project-img">
        </a>
        <div class="card-body">

          <h5 class="card-title">Food Resturant</h5>
          <p class="card-text">Food Oder Resturant web application built using React.js and Material UI.</p>
          <a class="text-decoration-none fs-6" href="https://foodyfoody.netlify.app/">
            https://foodyfoody.netlify.app/</a>
        </div>
      </div>

      <div class="project_card card me-4 col-sm-4 col-md-4 col-lg-3" style=" margin-top: 60px;">
        <a href="https://stellar-indiamart-dummy.netlify.app/">
          <img class="card-img-top p-4 pt-5" src="project_images/indmart.png" alt="project-img">
        </a>
        <div class="card-body">

          <h5 class="card-title">IndiaMart (dummy)</h5>
          <p class="card-text">A IndiaMart web application built using React.js and Material UI.</p>
          <a class="text-decoration-none fs-6" href="https://stellar-indiamart-dummy.netlify.app/">
            https://stellar-indiamart-dummy.netlify.app/</a>
        </div>
      </div>

      <div class="project_card card me-4 col-sm-4 col-md-4 col-lg-3" style=" margin-top: 60px;">
        <a href="https://alibab-dummy-123.netlify.app/">
          <img class="card-img-top p-4 pt-5" src="project_images/alibada.png" alt="project-img">
        </a>
        <div class="card-body">

          <h5 class="card-title">Ali-Baba (dummy)</h5>
          <p class="card-text">A Ali-Baba (dummy) web application built using React.js and Material UI..</p>
          <a class="text-decoration-none fs-6" href="https://alibab-dummy-123.netlify.app/">
            https://alibab-dummy-123.netlify.app/</a>
        </div>
      </div>

      <div class="project_card card me-4 col-sm-4 col-md-4 col-lg-3" style=" margin-top: 60px;">
        <a href="https://youtube-temp.netlify.app/">
          <img class="card-img-top p-4 pt-5" src="project_images/youtubeTemp.png" alt="project-img">
        </a>
        <div class="card-body">

          <h5 class="card-title">Youtube template</h5>
          <p class="card-text">A Youtube template using html/css.</p>
          <a class="text-decoration-none fs-6" href="https://youtube-temp.netlify.app/">
            https://youtube-temp.netlify.app/</a>
        </div>
      </div>


    </div>
