<%-include('./partials/header.ejs')%>

<%-include('./partials/navbar.ejs')%>

<div style="margin-top: 120px;" class="text-center">
  <h1 style="text-shadow: 2px 2px rgb(150, 142, 142);">My Recent <span class="text-primary fst-italic">Works</span></h1>
  <p>Here are a few projects I've worked on recently.</p>
</div>

<div class=" row d-flex mt-0 pt-0" style=" margin-left: 110px;">

    <div class="project_card card me-5 col-sm-3" style=" margin-top: 60px;">
      <a href="https://youtube-temp.netlify.app/">
        <img class="card-img-top p-4 pt-5" src="project_images/youtubeTemp.png" alt="project-img"> 
      </a>
        <div class="card-body">
         
          <h5 class="card-title">Youtube template</h5>
          <p class="card-text">A Youtube template using html/css.</p>
          <a class="text-decoration-none fs-6" href="https://youtube-temp.netlify.app/"> check :- https://youtube-temp.netlify.app/</a>
        </div>
    </div>

    <div class="project_card card me-5 col-sm-3" style=" margin-top: 60px;">
        <a href="">
          <img class="card-img-top" src="images/home-pge-img.jpg" alt="img"> 
        </a>
        <div class="card-body">
          <h5 class="card-title">Places App</h5>
          <p class="card-text">A MERN app to let users share their experience of places along with Details. It is user friendly and can be useful to many others.</p>
        </div>
        
    </div>
    
    
    <div class="project_card card me-5 col-sm-3" style=" margin-top: 60px;">
      <a href="">
        <img class="card-img-top" src="images/home-pge-img.jpg" alt="img"> 
      </a>
        <div class="card-body">
          <h5 class="card-title">Places App</h5>
          <p class="card-text">A MERN app to let users share their experience of places along with Details. It is user friendly and can be useful to many others.</p>
        </div>
    </div>
    
    <div class="project_card card me-5 col-sm-3" style="margin-top: 60px;">
      <a href="">
        <img class="card-img-top" src="images/home-pge-img.jpg" alt="img"> 
      </a> 
        <div class="card-body">
          <h5 class="card-title">Places App</h5>
          <p class="card-text">A MERN app to let users share their experience of places along with Details. It is user friendly and can be useful to many others.</p>
        </div>
    </div>

    <div class="project_card card me-5 col-sm-3" style="margin-top: 60px;">
      <a href="">
        <img class="card-img-top" src="images/home-pge-img.jpg" alt="img"> 
      </a> 
        <div class="card-body">
          <h5 class="card-title">Places App</h5>
          <p class="card-text">A MERN app to let users share their experience of places along with Details. It is user friendly and can be useful to many others.</p>
        </div>
    </div>
    <div class="project_card card me-5 col-sm-3" style="margin-top: 60px;">
      <a href="">
        <img class="card-img-top" src="images/home-pge-img.jpg" alt="img"> 
      </a> 
        <div class="card-body">
          <h5 class="card-title">Places App</h5>
          <p class="card-text">A MERN app to let users share their experience of places along with Details. It is user friendly and can be useful to many others.</p>
        </div>
    </div>
    <div class="project_card card me-5 col-sm-3" style="margin-top: 60px;">
      <a href="">
        <img class="card-img-top" src="images/home-pge-img.jpg" alt="img"> 
      </a> 
        <div class="card-body">
          <h5 class="card-title">Places App</h5>
          <p class="card-text">A MERN app to let users share their experience of places along with Details. It is user friendly and can be useful to many others.</p>
        </div>
    </div>
    <div class="project_card card me-5 col-sm-3" style="margin-top: 60px;">
      <a href="">
        <img class="card-img-top" src="images/home-pge-img.jpg" alt="img"> 
      </a> 
        <div class="card-body">
          <h5 class="card-title">Places App</h5>
          <p class="card-text">A MERN app to let users share their experience of places along with Details. It is user friendly and can be useful to many others.</p>
        </div>
    </div>
</div>


