<%-include('./partials/header.ejs')%>

<%-include('./partials/navbar.ejs')%>

        <div class="resume-img  d-flex align-items-sm-center  mt-5 mb-5" style="margin-left: 200px;">

            <div class="resume-img1 ">
                <h1 style="text-shadow: 2px 2px rgb(202, 7, 7);"><span class="text-primary fst-italic">
                    My, Resume.</span>
                </h1>

                
                <a href="https://drive.google.com/file/d/1chXDauC6eWyctTgxGs_O5W4GhbJgo2Qg/view?usp=sharing" download>
                    <button class="btn btn-primary mt-3 shadow p-3 fw-bold " style="padding: 10px; margin-left: 2px;">
                        Download Resume</button>
                </a>
             
            </div>
            <div class="resume-img2", style="margin-top: 100px; margin-left: 200px;">
                <img class="border-0" src="/images/mypic.png" alt="home-pge-image"
                    style="width: 400px; height: 400px;">
            </div>
        </div>


        <div class="resumeclass row m-5 border border-primary ">
            <div class="resumeclass2 col-4 bg-primary text-white p-5">
                <h1 class="mb-4">Mohd Bilal</h1>
                
                <h6>Fullstack MERN Developer</h6>
                <p>New Delhi.</p>
                <hr>
                <p>I am a software engineer whospecializes in cross-platform development using MERN . 
                    I have successfully identified and resolved complex issues, often working collaboratively 
                    with team members to develop creative solutions that deliver results.
                </p>
                <hr>
                <h5>+91 9760786071</h5>
                <h5>mohdbilal.mymail@gmail.com</h5>
                <hr>
                <p>linkdIn</p>
                <p>github</p>
                <p>portfolio</p>
                <hr>
                <p>playing Games</p>
                <p>travelling</p>
            </div>
            <div class="resumclass3 col-8 p-5">
                <h3 class="text-primary">Education</h3>

                <hr>

                <h6 class="text-dark m-0 mb-1">Bachelor's Degree in Computer Science - 2020</h6>
                <p class="text-secondary muted m-0">ABES Institute of technology, Ghaziabad, UP </p>

                <h6 class="text-dark m-0 mb-1">Intermediate - 2016</h6>
                <p class="text-secondary muted m-0">GOVT. High School Purkazi, Muzaffarnagar, UP.</p>

                <h6 class="text-dark m-0 mb-1">High School - 2013</h6>
                <p class="text-secondary muted m-0">SGRR Public School, Muzaffarnagar, UP.</p>
                
                

                <h3 class="mt-3 text-primary">Projects</h3>
                <hr>
                <p class="m-0">Portfolio app</p>
                <p class="m-0">ExpressJS, Html, Css, JavaScript</p>
                <P class="m-0 mb-5">Fast and easy beautiful prograssive Portfolio app</P>
                
               

                <h3 class="text-primary">Skills</h3>
                <hr>
                <div class="d-flex row col-md-6">
                    <p class="skills">JavaScript</p>
                    <p class="skills">React </p>
                    <p class="skills">Bootstrap </p>
                    <p class="skills">NodeJS</p>
                    <p class="skills">ExpressJS</p>
                    <p class="skills">HTML</p>
                    <p class="skills">CSS</p>
                    <p class="skills">MongoDB</p>
                </div>
            </div>
            
        </div>

        

