.nav-link{
    color: white;
}
.nav-link:hover{
    background: rgb(83, 83, 249);
    border-radius: 5px;
    color: white;  
}
.mobile-ul li a{
  text-decoration: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navlist{
        padding-left: 15px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* @media only screen and (min-width: 600px) {
   
  } */
  
  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    .navlist{
        padding-left: 30px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and down) */
  @media only screen and (max-width: 992px) {
    .navlist{
        padding-left: 50px;
    }
  } 
  
  /* (small and up) */
  @media only screen and (min-width: 576px) {
    .nav-class {background-color: white;}
  }